# SolidWorks files
*.SLDPRT binary
*.SLDASM binary
*.SLDDRW binary

# CAD exports
*.STEP binary
*.STP binary
*.IGS binary
*.IGES binary
*.X_T binary
*.X_B binary
*.STL binary

# Images
*.png binary
*.jpg binary
*.jpeg binary

# PDFs
*.pdf binarys